body {
    background-color: whitesmoke;
    background-attachment: fixed;
    transition: 700ms;
}

p {
    color: black;
}

#logo {
    box-shadow: 0px 2px 3px black;
    background: #730220;
    color: white;
    transition: 700ms;
}

#global {
    background-color: white;
    transition: 700ms;
}

#global h2 {
    color: black;
}

#menu {
    background-color: #730220;
    color: white;
    transition: 700ms;
}

#menu ul li:hover {
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
    transition: 200ms;
}

#menu a {
    color: white;
}

.button-more {
    background: #A6032F;
    transition: 700ms;
}

#header h1 {
    color: black;
    transition: 700ms;
}

input[type="Button"] {
    background-color: #730220;
    color: white;
    transition: 700ms;
}

input[type="Button"]:active {
    box-shadow: inset 0 0 10px white;
    border: 0px;
    outline: none !important;
    transition: 100ms;
}

input[type="Text"]:focus {
    outline: none !important;
    border: 1px solid #730220;
    box-shadow: 0 0 10px #730220;
    transition: 700ms;
}

video:focus {
    outline: none !important;
    border: 1px solid #212121;
    box-shadow: 0 0 10px #212121;
}