/*
Autores:
-Flores Santos Omar
-Flores Vargas Dámaris
-García Medina Saúl
*/
body{
	background: #001B48;
	background-attachment: fixed;
	transition: 3000ms;
}
#global {
	background-color: #02457A;
	transition: 2000ms;
}
#logo{	
	background: #001B48;	
	transition: 700ms;
}
#menu {
	background-color: #001B48;
	transition: 700ms;
}
#menu ul li:hover{
	background: #02457A;
	transition: 700ms;
}
.button-more{	
	background: #D6E8EE;
	color: black;
	transition: 700ms;
}
#posts{
	font-family: "Quicksand";	
	color: white;
	transition: 700ms;
}
.post{
	color: white;
	transition: 700ms;
}
.post h2{
	color: #333;
	color: white;
	transition: 700ms;
}
.post .date{
	color: white;
	transition: 700ms;
}
.post p{
	color: white;
	transition: 700ms;
}
#header h1{
	color: #FFF;
	transition: 700ms;
}
input[type="Button"]{
	background-color: #001B48;
	color: #FFF;
	transition: 700ms;
}
input[type="Button"]:active{
	box-shadow: inset 0 0 10px #D6E8EE;
	border: 0px;
	outline: none !important;
}
#AlgorithmSpecificControls td{
	color: white;
	transition: 700ms;	
}
input[type="Text"]:focus{
	outline: none !important;
    border:1px solid #97CADB;
    box-shadow: 0 0 10px #97CADB;
}
video:focus{
	outline: none !important;
    border:1px solid #97CADB;
    box-shadow: 0 0 10px #97CADB;
}
#box h2{
	color: white;
	transition: 700ms;
	text-transform: uppercase;
}